@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
@import "tailwindcss";


/* LightMode Colors */
@theme {
    --color-primary-blue: #2A3F54;
    --color-secondary-blue: #6C9EB8;
    --color-accent-coral: #FF6B6B;
    --color-neutral-light: #F5F5F5;
    --color-neutral-mid: #B0B0B0;
    --color-neutral-dark: #333333;
}

/* fonts */
@theme {
    --font-vazir: "Vazirmatn", sans-serif;
}