@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* LightMode Colors */
@theme {
  --color-primary-blue: #2a3f54;
  --color-secondary-blue: #6c9eb8;
  --color-accent-coral: #ff6b6b;
  --color-neutral-light: #f5f5f5;
  --color-neutral-mid: #b0b0b0;
  --color-neutral-secondary: #8a8a8a;
  --color-neutral-dark: #333333;
}

/* Darkmoe Colors */
@theme {
  --color-primary-blue-dark: hsl(210, 50%, 50%);
  --color-secondary-blue-dark: hsl(210, 70%, 70%);
  --color-accent-coral-dark: #ff6b6b;
}

/* fonts */
@theme {
  --font-vazir: "Vazirmatn", sans-serif;
  --font-lalezar: "Lalezar", sans-serif;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  animation: fade-in-right 1s cubic-bezier(0.47, 0, 0.745, 0.715) 200ms both;
}



.fade-out-view {
  /* scale: 100%; opacity: 100%; */
  animation: fade-out-view linear forwards;
  animation-timeline: view();
  animation-range: exit 100px;
}

@keyframes fade-out-view {
  to {
    scale: 0;
    opacity: 0;
  }
}

.fade-in-view {
  scale: 0.7; opacity: 0.7;
  animation: fade-in-view linear forwards;
  animation-timeline: view();
  animation-range: entry 100px;
}

@keyframes fade-in-view {
  to {
    scale: 1;
    opacity: 1;
  }
}

#no-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-background {
  background: linear-gradient(50deg, #2a3f54, #2a3f54, #55a9ff);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


